html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color:#105a75;
}

* {
  box-sizing: border-box;
}

img {
  max-width:100%;
}

.homeCards {
  display: flex;
   flex-wrap: wrap;
   align-items: stretch;
}
iframe {
  max-width:100%;
}


a {
  text-decoration: none !important;
  color:#333 !important;
  margin-left:10px;
}

.heroBg {
  background-color:#04a5b6;
}


.bg-home-keyindicator {
  background-color:#f28f22;
}
.navbar img{
max-width: 125px;
}
.sm-text {
  font-size:12px;
}

.xs-text {
  font-size:8px;
}



.landscape-card:hover {
  cursor:pointer;
}

/* LANDSCAPE */

.landscape-card {
  /*   background-color:red; */
    width:30px;
    height:30x;
    padding:0 2px 2px 0;
  }
.home-landscape,.intro-text {
  background-color: #0ab;
  margin:0;
}

.bg-landscape-box {
  background-color:#eee;
}
.home-main-container{
  background-color:white;
  }
.category-name span {
    text-align:center;
    font-size:10px;
    writing-mode: tb-rl; 
    transform: rotate(180deg);
    text-align:center;
    background-color:#eee;
    padding:0 5px;
  }


.landscape-subcategory-title {
  font-size:12px;
}


.block-space {
  width:10px;
  background-color:#eee;
}
.bg-primary2 {
  background-color:#105a75;
  color:white;
}

.test {
  width:30px;
  font-size:10px;
  padding:10px 0;
  writing-mode:vertical-rl;
  transform:rotate(180deg);
  text-align:center;
  display:flex;
  align-items:center;
  justify-content:center;
    background-color:#eee;
}


.heroBg {
  background-image: url('../public/homepage/apidays_home___HERO\ BACKGROUND.png');
  background-size:cover;
}

.main-box {
  display:flex;
}

.main-box-container {
  display:flex;
}

.category-box {
  display: flex;
  flex-wrap: wrap;
 justify-content:space-between;

}


/* UNCOMMENT LATER */
.category-container {
  width:100%;
  }

.box div {

  margin:0 2px;

}

/* ///  review above //// */


.title {
  width:40px;
  font-size:10px;
  padding:10px 0;
  writing-mode:vertical-rl;
  transform:rotate(180deg);
  text-align:center;
  display:flex;
  align-items:center;
  justify-content:center;
  background-color:#eee;
}

.landscape-container {
    display:flex;
    
}

.landscape-category-container {
    display:flex;
      flex: 1;
      min-height:100px;
}
.landscape-subcategory-box {
border:2px solid #eee;

flex: 1;


}


.home-main-container {
  display: flex; 
  align-items: stretch;
}

