html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.container {
  max-width: 95%;
  margin:0 auto;
}
.homeCards {

  display: flex;
   flex-wrap: wrap;
  justify-content:start;

}

.card {
  width:70px;
  height:70px;
  padding:0 2px 2px 0;
}

img {
  max-width:100%;
}